/* common styles to all properties */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* nav styles */
nav {
  background-color: #1A0B2E;
  width: 100%;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
}

nav .logo .wave {
  font-size: 2rem;
  /* color: #ffffff; */
  font-weight: 800;
  background: linear-gradient(to right, #ff00cc 42%, #ffab2e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .logo .wave:hover {
  background: linear-gradient(to left, #ff00cc 42%, #ffab2e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* nav li {
  gap: ;
} */
nav li a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ff00cc;
}

nav button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

nav button {
  background: linear-gradient(90deg, #ffbd3f 0%, #ff00cc 100%);
  border: none;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav button:hover {
  background: linear-gradient(90deg, #ff00cc 0%, #ffbd3f 100%);
}

/* banner styles */
.banner {
  background-image: url('./assets/hero-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0;
  min-height: 760px;
  width: 100%;
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner .image {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .image img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.banner .image img:nth-child(2) {
  position: relative;
  z-index: 2;
  width: 115px;
  height: auto;
}

.badge {
  background-color: #00FF88;
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  color: #1A0B2E;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 4px 12px;
  border-radius: 20px;
}

.ban-content h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}

.ban-content p {
  font-size: 1rem;
  color: #ffffff;
}

.ban-content button {
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin: 0 12px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease;
  margin-top: 24px;
  background: linear-gradient(90deg, #ffbd3f 0%, #ff00cc 100%);
}

.ban-content button:hover {
  transform: translateY(-2px);
}

.ban-content img {
  margin-right: 10px;
}

.ban-content button:nth-of-type(1) {
  color: #ffffff;
}
.ban-content button:nth-of-type(2) {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
}