/* common styles to all properties */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 204, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(255, 0, 204, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 204, 0);
  }
}

@keyframes pulse-glow-green {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 255, 136, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 136, 0);
  }
}

/* nav styles */
nav {
  background-color: #1A0B2E;
  width: 100%;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
}

nav .logo .wave {
  font-size: 2rem;
  /* color: #ffffff; */
  font-weight: 800;
  background: linear-gradient(to right, #ff00cc 42%, #ffab2e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .logo .wave:hover {
  background: linear-gradient(to left, #ff00cc 42%, #ffab2e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* nav li {
  gap: ;
} */
nav li a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ff00cc;
}

nav button {
  background: linear-gradient(90deg, #ffbd3f 0%, #ff00cc 100%);
  border: none;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: pulse-glow 2s infinite;
}

nav button:hover {
  background: linear-gradient(90deg, #ff00cc 0%, #ffbd3f 100%);
}

nav .hamburger {
  display: none;
}

/* banner styles */
.banner {
  background-image: url('./assets/hero-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0;
  min-height: 760px;
  width: 100%;
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.banner .image {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: spin 10s linear infinite; */
}

.banner .image img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  animation: spin 4s linear infinite;
}

.banner .image img:nth-child(2) {
  position: relative;
  z-index: 2;
  width: 115px;
  height: auto;
}

.badge {
  background-color: #00FF88;
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  color: #1A0B2E;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 4px 12px;
  border-radius: 20px;
}

.ban-content h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}

.ban-content p {
  font-size: 1rem;
  color: #ffffff;
}

.ban-content .ban-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ban-content .ban-btn button {
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin: 0 12px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease;
  margin-top: 24px;
  background: linear-gradient(90deg, #ffbd3f 0%, #ff00cc 100%);
  /* animation: pulse-glow 2s infinite; */
}

.ban-content button:hover {
  transform: translateY(-2px);
}

.ban-content img {
  margin-right: 10px;
}

.ban-content button:nth-of-type(1) {
  color: #ffffff;
  animation: pulse-glow 2s infinite;
}

.ban-content button:nth-of-type(2) {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  animation: pulse-glow-green 2s infinite;
}

/* about styles */
.about {
  background-color: #1A0B2E;
  width: 100%;
  /* height: 640px; */
  display: flex;
  padding: 0px 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.about .about-content .section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
}

.about p {
  margin-bottom: 40px;
  max-width: 864px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ffffff;
  margin: 80px auto;
  width: 100%;
  max-width: 1200px;
  opacity: 10%;
}

.about-stat {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  gap: 80px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
  line-height: 1;
}

/* why styles */

.why {
  background-color: #230E3D;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.why-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 220px);
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 80px;
}

.why-card {
  /* background-color: #351165; 
    opacity: 40%; */
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-bottom: 80px; */
}

.why-card:hover {
  transform: translateY(-2px);
  /* background-color: #351165;
    opacity: 20%; */
  background-color: rgba(53, 17, 101, 0.2);
}

.why-card img {
  width: 40px;
  height: auto;
}

.why-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 15px;
}

.why-card p {
  color: #ffffff;
  line-height: 24px;
  opacity: 60%;
}

.why-card:nth-child(1) {
  grid-column: 1;
  grid-row: span 2;
}

.why-card:nth-child(2) {
  grid-column: 2 / span 2;
}

.why-card:nth-child(3) {
  grid-column: 2 / span 2;
}

.why-card:nth-child(4) {
  grid-column: 1 / span 2;
}

.why-card:nth-child(5) {
  grid-column: 3;
}

/* featured styles */
.featured {
  background-color: #1A0B2E;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.featured-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.featured .featured-card .card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
  /* padding: 20px; */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.featured .featured-card .card:hover {
  transform: translateY(-3px);
  background-color: rgba(53, 17, 101, 0.2);
}

.featured-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 24px 24px 0 0;
  border: none;
  margin-bottom: 20px;
}

.featured-card h3 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 20px 24px 10px 24px;
}

.featured-card p {
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 0 24px 20px 24px;
  opacity: 60%;
}

.featured-card .duration {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-top: auto;
  padding: 0 24px 25px 24px;
}

.card .duration span {
  color: #00FF88;
  font-weight: 600;
}

.card .duration img {
  width: 18px;
  height: 18px;
}

/* meet section styles */

.meet {
  background-color: #1A0B2E;
  width: 100%;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.meet-card {
  height: auto;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

.host-content {
  /* gap: 16px; */
}

.host-content h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.host-content p {
  line-height: 24px;
  opacity: 60%;
  margin-bottom: 16px;
}

.meet-social {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.meet-social button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #533C72;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.meet-social button:hover {
  border-color: #ff00cc;
  transform: translateY(-3px);
  background-color: rgba(53, 17, 101, 0.2);
}

/* footer styles */

footer {
  background-image: url('./assets/footer-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 100px;
  width: 100%;
  background-color: #230E3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .logo {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 800;
  margin-top: 20px;
}

footer .logo .wave {
  font-size: 3rem;
  /* color: #ffffff; */
  font-weight: 800;
  background: linear-gradient(to right, #ffab2e 42%, #ff00cc 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-social {
  display: flex;
  gap: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.footer-social button img {
  width: 24px;
  height: auto;
}

.footer-social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  text-decoration: underline;
  text-decoration-color: #ff00cc;
}

footer p {
  color: #FAFAFA;
  margin-top: 10px;
}

.line-separator {
  border: 0;
  height: 1px;
  background: #ffffff;
  width: 60%;
  max-width: 544px;
  opacity: 10%;
  margin-bottom: 20px;
}


/* responsive styles max-width: 992px*/
@media screen and (max-width: 992px) {

  /* nav responsive */
  nav {
    padding: 15px 30px;
  }

  nav ul {
    gap: 5px;
  }

  /* about responsive */
  .about-stat {
    gap: 20px;
    flex-wrap: wrap;
  }

  /* why responsive */

  .why-box {
    grid-template-columns: 1fr 1fr;
  }

  .why-card:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .why-card:nth-child(2) {
    grid-column: span 2;
  }

  .why-card:nth-child(3) {
    grid-column: span 2;
  }

  .why-card:nth-child(4) {
    grid-column: span 2;
  }

  .why-card:nth-child(5) {
    grid-column: span 2;
  }

  /* footer responsive */

  footer {
    padding: 40px 20px;
    background-size: 180%;
  }

}

/* mobile responsive (max-width: 576px) */
@media screen and (max-width: 576px) {

  /* nav responsive */
  nav {
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav ul,
  nav button {
    display: none;
  }

  nav .hamburger {
    display: flex;
    cursor: pointer;
    align-items: center;
  }


  /* banner responsive */

  .ban-content h1 {
    font-size: 2.5rem;
  }

  .ban-content p {
    padding: 0 30px;
    margin-bottom: 25px;
  }

  .ban-content button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 0.85rem;
    width: auto;
  }

  /* about responsive */

  .about {
    padding: 0px 20px;
  }

  .about .about-content .section-title {
    font-size: 2rem;
    margin-top: 40px;
  }

  .about-stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .stat-number {
    font-size: 2.5rem;
  }

  .divider {
    margin: 40px auto;
  }

  /* why section responsive */

  .why {
    padding: 0px 20px;
  }

  .why-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .why .section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .why-card {
    padding: 30px;
  }

  .why-card h3 {
    font-size: 1.25rem;
  }

  /* featured responsive */

  .featured {
    padding: 10px 20px;
  }

  .f-section-title {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .featured-card {
    flex-direction: column;
    width: 100%;
  }

  .featured .featured-card .card {
    width: 100%;
  }

  .featured-card h3 {
    font-size: 1rem;
  }

  /* meet section responsive */

  .meet {
    padding: 10px 20px;
  }

  .meet .section-title {
    margin-top: 30px;
  }

  .meet-card {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;
  }

  .host-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .meet-card>img {
    width: 160px;
    height: 160px;
  }

  .host-content h3 {
    font-size: 1.75rem;
  }

  /* footer responsive */

  footer {
    padding: 40px 20px;
    background-size: 160%;
  }

  footer .logo {
    font-size: 2.5rem;
  }

  .footer-social {
    gap: 20px 40px;
    max-width: 300px;
  }

  footer p {
    margin-bottom: ;
  }

}