/* common styles to all properties */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

/* nav styles */
nav {
  background-color: #1A0B2E;
  width: 100%;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
}

nav .logo .wave {
  font-size: 2rem;
  /* color: #ffffff; */
  font-weight: 800;
  background: linear-gradient(to right, #ff00cc 42%, #ffab2e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .logo .wave:hover {
  background: linear-gradient(to left, #ff00cc 42%, #ffab2e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* nav li {
  gap: ;
} */
nav li a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #ff00cc;
}

nav button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

nav button {
  background: linear-gradient(90deg, #ffbd3f 0%, #ff00cc 100%);
  border: none;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav button:hover {
  background: linear-gradient(90deg, #ff00cc 0%, #ffbd3f 100%);
}

nav .hamburger {
  display: none;
}

/* banner styles */
.banner {
  background-image: url('./assets/hero-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0;
  min-height: 760px;
  width: 100%;
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.banner .image {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: spin 10s linear infinite; */
}

.banner .image img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  animation: spin 4s linear infinite;
}

.banner .image img:nth-child(2) {
  position: relative;
  z-index: 2;
  width: 115px;
  height: auto;
}

.badge {
  background-color: #00FF88;
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  color: #1A0B2E;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 4px 12px;
  border-radius: 20px;
}

.ban-content h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}

.ban-content p {
  font-size: 1rem;
  color: #ffffff;
}

.ban-content .ban-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ban-content .ban-btn button {
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin: 0 12px;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease;
  margin-top: 24px;
  background: linear-gradient(90deg, #ffbd3f 0%, #ff00cc 100%);
}

.ban-content button:hover {
  transform: translateY(-2px);
}

.ban-content img {
  margin-right: 10px;
}

.ban-content button:nth-of-type(1) {
  color: #ffffff;
}

.ban-content button:nth-of-type(2) {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
}

/* about styles */
.about {
  background-color: #1A0B2E;
  width: 100%;
  /* height: 640px; */
  display: flex;
  padding: 0px 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
}

.about p {
  margin-bottom: 40px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ffffff;
  margin: 80px auto;
  width: 100%;
  max-width: 1200px;
  opacity: 10%;
}

.about-stat {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  gap: 80px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
  line-height: 1;
}

/* why styles */

.why {
  background-color: #230E3D;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.why-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 220px);
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 80px;
}

.why-card {
  /* background-color: #351165; 
    opacity: 40%; */
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-bottom: 80px; */
}

.why-card:hover {
  transform: translateY(-2px);
  /* background-color: #351165;
    opacity: 20%; */
  background-color: rgba(53, 17, 101, 0.2);
}

.why-card img {
  width: 40px;
  height: auto;
}

.why-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 15px;
}

.why-card p {
  color: #ffffff;
  line-height: 24px;
  opacity: 60%;
}

.why-card:nth-child(1) {
  grid-column: 1;
  grid-row: span 2;
}

.why-card:nth-child(2) {
  grid-column: 2 / span 2;
}

.why-card:nth-child(3) {
  grid-column: 2 / span 2;
}

.why-card:nth-child(4) {
  grid-column: 1 / span 2;
}

.why-card:nth-child(5) {
  grid-column: 3;
}

/* responsive styles max-width: 992px*/
@media screen and (max-width: 992px) {

  /* nav responsive */
  nav {
    padding: 15px 30px;
  }

  nav ul {
    gap: 5px;
  }

  /* about responsive */
  .about-stat {
    gap: 20px;
    flex-wrap: wrap;
  }

  /* why responsive */

  .why-box {
    grid-template-columns: 1fr 1fr;
  }

  .why-card:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .why-card:nth-child(2) {
    grid-column: span 2;
  }

  .why-card:nth-child(3) {
    grid-column: span 2;
  }

  .why-card:nth-child(4) {
    grid-column: span 2;
  }

  .why-card:nth-child(5) {
    grid-column: span 2;
  }
}

/* mobile responsive (max-width: 576px) */
@media screen and (max-width: 576px) {

  /* nav responsive */
  nav {
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav ul,
  nav button {
    display: none;
  }

  nav .hamburger {
    display: flex;
    cursor: pointer;
    align-items: center;
  }


  /* banner responsive */

  .ban-content p {
    padding: 0 30px;
    margin-bottom: 25px;
  }

  .ban-content button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 0.85rem;
    width: auto;
  }

  /* about responsive */

  .about-stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}